.main{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.submain{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 20px;
 width: 100%;
}

.secondaryBg{
    background: #f4f4f4;
}


.submain p{
    width: 70%;
}


.main h1{
 font-weight: 500;
}

.main p{
    padding-top: 10px;
    font-weight: 400;
}